
html { 
  background: url('https://wallpaperaccess.com/full/2029165.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: rgba(42, 37, 65, .3);
  margin: 0;
}

h2 {
  position: absolute;
  left: 200px;
  top: 15px;
}

input {
  width: 50px;
  position: absolute;
  right: 25px;
  display: none;
}

nav {
  margin-top: 45px;
  height: 100px;
  
  position: fixed;
  right: 200px;
  align-items: center;
}

ul {
  display: flex;
 
}

li {
  list-style: none;
  margin: 0 25px;
  font-size: 18px;
}

section {
  height: 100vh;
  width: 100vw;
  text-align: center;
 
}

p {
  margin-top: 215px;
  font-size: 18px;
}

.show {
  transform: translate(0, 0);
}

@media screen and (max-width: 990px) {

  header{
    background-color: rgba(42, 37, 65, .6);
    transition: .5s;
  }

  input {
    display: block;
  }

  nav {
    width: 200px;
    height: 500px;
    top: 60px;
    right: 0;
    transform: translate(200px, 0);
    background-color: rgba(42, 37, 65, .6);
    justify-content: center;
    transition: .5s;
  }

  ul {
    flex-direction: column;
    text-align: center;
  }

  li {
    margin: 25px 0;
    font-size: 30px;
  }

}